<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Details of transactionHistory</title>
    
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
    
    <!-- Bootstrap -->
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->

    <!--Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet"> -->
    
    <!-- Custom CSS -->


    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">

  </head>
  <body>
   

    <div class="site-branding-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 ">
                    <div class="logo">
                        <h1><a href="index.html">WE-<span>Digital wallet</span></a></h1>
                    </div>
                </div>
                
   
            </div>
        </div>
    </div> <!-- End site branding area -->

    {{> headerBs5}}


    
    
    <div class="slider-area">
        <div class="zigzag-bottom"></div>
        <div id="slide-list" class="carousel carousel-fade slide" data-ride="carousel">
            
            <div class="slide-bulletz">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ol class="carousel-indicators slide-indicators">
                                <li data-target="#slide-list" data-slide-to="0" class="active"></li>
                                <li data-target="#slide-list" data-slide-to="1"></li>
                                <li data-target="#slide-list" data-slide-to="2"></li>
                            </ol>                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="single-slide">
                        <div class="slide-bg slide-one"></div>
                       
                    </div>
                </div>

                
            </div>

        </div>        
    </div> <!-- End slider area -->
    

    <!-- Login -->
    <div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row justify-content-center" >
              <div class="col-md-10 col-lg-8 col-xl-5">
                <div class="border p-3 mt-5 rounded bg-light" style="background-color: rgb(119, 179, 199);">
                  <h3 class="text-center my-4">Chi Tiết Giao Dịch</h3>
                  <h5 class="text-center my-4"></h5>
                  <h6 class="text-center my-4 text-{{color}}">{{TrangThai}}</h6>'
               
                  <form>
                    <!---Item-->
                    <div class="mb-3">
                      <div class="form-floating">
                        <input style="background-color: lightblue;" type="text" class="form-control text text-center h5" id="floatingInput" placeholder="name@example.com" value=" {{history.maGiaoDich}}" disabled>
                     
                        <label for="floatingInput">Mã giao dịch </label>
                      </div>
                    </div>
                    <!---Item-->
                    <div class="mb-3">
                      <div class="form-floating">
                        <input style=" background-color: lightblue;" type="email" class="form-control text text-center h5 text-dark" id="floatingInput" placeholder="name@example.com" value=" {{history.loaiGiaoDich}}" disabled>
             
                        <label for="floatingInput">Loai giao dịch</label>
                      </div>
                    </div>
                    <div class="mb-3 ">
                      <div class="form-floating">
                        <input style=" background-color: lightblue;" type="email" class="form-control text text-center h5" id="floatingInput" placeholder="name@example.com" value=" {{changeMoney history.tongTien}}  Đồng" disabled>
                     
                        <label for="floatingInput">Tổng tiền giao dịch</label>
                      </div>
                    </div>   
                    <!---Item-->
                    <div class="mb-3 ">
                      <div class="form-floating">
                        <input style=" background-color: lightblue;" type="email" class="form-control text text-center h5" id="floatingInput" placeholder="name@example.com" value=" {{history.ngay}} " disabled>
                  
                        <label for="floatingInput">Thời gian</label>
                      </div>
                    </div>                   
                     <!---Item-->
                     <div class="mb-3 ">
                      <div class="form-floating">
                        <input style=" background-color: lightblue;" type="email" class="form-control text text-center h5" id="floatingInput" placeholder="name@example.com" value=" {{changeMoney history.phi}} Đồng" disabled>
            
                        <label for="floatingInput">Tổng phí</label>
                      </div>
                    </div>
                    {{#if history.note}}
                    <div class="mb-3">
                      <div class="form-floating">
                        <textarea style=" background-color: lightblue;"  type="text" class="form-control" id="floatingInput"  name="note" rows="3"disabled>{{history.note}}</textarea>
                        <label for="floatingInput">Ghi chú</label>
                      </div>
                    </div>
                    {{/if}}          
                     {{#if history.sdt2}}
                    <h5> THÔNG TIN THÊM</h5>            
                    <div class="mb-3 ">
                      <div class="form-floating">
                        <input style=" background-color: rgb(103, 255, 141);" type="email" class="form-control text text-center h5" id="floatingInput" placeholder="name@example.com" value=" {{tenNguoiNhan}}" disabled>
                     
                        <label for="floatingInput">Tên chủ Ví Nhận</label>
                      </div>
                    </div>   
                    <!---Item-->
                    <div class="mb-3 ">
                      <div class="form-floating">
                        <input style=" background-color:  rgb(103, 255, 141);" type="email" class="form-control text text-center h5" id="floatingInput" placeholder="name@example.com" value=" {{history.sdt2}}" disabled>
                  
                        <label for="floatingInput">Số điện thoại</label>
                      </div>
                    </div>  
                    {{/if}}
              
                     <!---Item-->
    

                  </form>
                  
                      <br>
                      <br>
                       {{#if cards}}
                      <h2 class="text-center">Danh sách card của bạn</h2>
                      {{/if}}
                      <br>
                      {{#each cards}}
                      <!-- start card -->
                      <div class="card">
                        <h3 class="card-title bg-info text-dark text-center">{{this.nhaMang}}</h3>
                        <div class="card-body">
                            <h4 class="card-subtitle mb-1 text-muted text-center">{{this.soThe}}</h4>
                            <h5 class="card-text text-center">{{changeMoney this.menhGia}} </h5> 
                        </div>
                      </div>
                      <br>
                      <!-- end card -->
                      {{/each}}
              
                </div>

                <br>

                {{#if isAdmin}}
                  {{#if isNeedConfirm}}
                    <div class="">
                      <button class="btn px-5 d-block w-100 fw-bold text-light" data-bs-toggle="modal" data-bs-target="#approveModal" type="submit" style="background-color: #1abc9c;">Đồng ý</button>
                      <br>
                      <button class="btn px-5 d-block w-100 fw-bold text-light" data-bs-toggle="modal" data-bs-target="#rejectModal" type="submit" style="background-color: #bc1a1a;">Từ chối</button>
                    </div>
                  {{/if}}
                {{/if}}
     
              </div>
            </div>
          </div>
    </div> <!-- End main content area -->


    <!-- Modal approve -->
    <div class="modal fade" id="approveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p class="modal-title" id="exampleModalLabel">Bạn muốn duyệt giao dịch này?</p>
          </div>
          <div class="modal-footer">
            <form method="post" action="/admin/appoveTransaction">
              <input hidden type="text" name="maGiaoDich" id="magiaodich" value="{{history.maGiaoDich}}">
              <button type="submit" class="btn" style="background-color: #1abc9c;">Đồng ý</button>
            </form>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
          </div>
        </div>
      </div>
    </div>
    
  
    <!-- Modal reject -->
    <div class="modal fade" id="rejectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p class="modal-title" id="exampleModalLabel">Bạn muốn từ chối giao dịch này?</p>
          </div>
          <div class="modal-footer">
            <form method="post" action="/admin/rejectTransaction">
              <input hidden type="text" name="maGiaoDich" id="magiaodich" value="{{history.maGiaoDich}}">
              <button type="submit" class="btn btn-danger">Từ chối</button>
            </form>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="footer-top-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-about-us">
                        <h2>e<span>Electronics</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus vero quam laborum quas alias dolores blanditiis iusto consequatur, modi aliquid eveniet eligendi iure eaque ipsam iste, pariatur omnis sint! Suscipit, debitis, quisquam. Laborum commodi veritatis magni at?</p>
                        <div class="footer-social">
                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">User Navigation </h2>
                        <ul>
                            <li><a href="#">My account</a></li>
                            <li><a href="#">Order history</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="#">Vendor contact</a></li>
                            <li><a href="#">Front page</a></li>
                        </ul>                        
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">Categories</h2>
                        <ul>
                            <li><a href="#">Mobile Phone</a></li>
                            <li><a href="#">Home accesseries</a></li>
                            <li><a href="#">LED TV</a></li>
                            <li><a href="#">Computer</a></li>
                            <li><a href="#">Gadets</a></li>
                        </ul>                        
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-6">
                    <div class="footer-newsletter">
                        <h2 class="footer-wid-title">Newsletter</h2>
                        <p>Sign up to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!</p>
                        <div class="newsletter-form">
                            <form action="#">
                                <input type="email" placeholder="Type your email">
                                <input type="submit" value="Subscribe">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer top area -->
    
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        <p>&copy; 2015 eElectronics. All Rights Reserved. Coded with <i class="fa fa-heart"></i> by <a href="http://wpexpand.com" target="_blank">WP Expand</a></p>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="footer-card-icon">
                        <i class="fa fa-cc-discover"></i>
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-paypal"></i>
                        <i class="fa fa-cc-visa"></i>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer bottom area -->
   
    <!-- Latest jQuery form server -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    
    <!-- Bootstrap JS form CDN -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    <!-- jQuery sticky menu -->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    
    <!-- jQuery easing -->
    <script src="js/jquery.easing.1.3.min.js"></script>
    
    <!-- Main Script -->
    <script src="/js/main.js"></script>
  </body>
</html>