<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personal Pape</title>
    
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
    <!-- Custom CSS -->

    <link rel="stylesheet" href="/css/style.css">


  </head>
  <body>

    
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>my personal page</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
        
                
                <div class="col-md-12">
    
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-images">
                                    <div class="product-main-img">
                                        <img src="../img/avt.jpg" alt="">
                                    </div>
                           
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="product-inner">
                                    <h2 class="product-name">{{account.tenNguoiDung}}</h2>
                                    <div class="product-inner-price">
                                        {{{showStatus account.quyen}}}
                                    </div>
                                    <h3 class="bg bg-info text text-center">
                                        <b>SỐ DƯ TÀI KHOẢN</b>
                                    </h3>
                                    <h3 class=" text text-center text-danger">
                                        <i>{{changeMoney account.soDu}} VNĐ</i>
                                    </h3>
                                    
                               
                                    
                                    <div role="tabpanel">
                                        <ul class="product-tab" role="tablist">
                                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Thông Tin</a></li>
                                            {{#if needUpdateCMND}}
                                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Cập nhật CMND</a></li>
                                            {{/if}}
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                <h2 class=" text text-center w-50"><b>THÔNG TIN CÁ NHÂN</b></h2>  
                                                <label class="text text-center">..............................................................................................................................................................</label>
                                                <div class="row">
                                                    <div class="col col-md-6">
                                                        <label class="h4"><b>Họ và Tên:</b></label>                                               </label>
                                                        <div class="h4">{{account.tenNguoiDung}}</div>
                                                        <label class="h4"><b>Ngày Sinh:</b></label>                                               </label>
                                                        <div class="h4">{{account.ngaySinh}}</div>
                                                        <label class="h4"><b>Địa chỉ:</b></label>                                               </label>
                                                        <div class="h4">{{account.diaChi}}</div>
                                                                
                                                    </div>
                                                    <div class="col col-md-6">
                                                        <label class="h4"><b>Số điên thoại:</b></label>                                               </label>
                                                        <div class="h4">{{account.sdt}}</div>
                                                        <label class="h4"><b>email:</b></label>                                               </label>
                                                        <div class="h4">{{account.email}}</div>
                                                        <label class="h4"><b>Ngày mở dịch vụ</b></label>                                               </label>
                                                        <div class="h4">{{account.ngayMoThe}}</div>
                                                    </div>

                                                </div>

                                                <br>
                                                <label class="h4"><b>Mặt trước CMND:</b></label>                                              
                                                <img src="/userResources/{{account.sdt}}/{{account.matTruocCMND}}" alt="No Image" >

                                                <br><br><br>
                                                <label class="h4"><b>Mặt sau CMND:</b></label>                                               
                                                <img src="/userResources/{{account.sdt}}/{{account.matSauCMND}}" alt="No Image" >

                                            </div>
                                            {{#if needUpdateCMND}}
                                                <div role="tabpanel" class="tab-pane fade" id="profile">
                                                    <form action="/updateCMND" method="post" enctype="multipart/form-data">
                                                        <div class="submit-review">
                                                            
                                                                <label for="email">Mặt trước CMND</label>
                                                                <input onchange="showImg(this)" id="idCardT" name="idCardT" type="file" accept="image/*" required>
                                                            <img src="" alt="No Image" id="idCardT">

                                                            <br><br>
                                                            
                                                                <label for="email">Mặt sau CMND</label> 
                                                                <input onchange="showImg(this)" id="idCardS" name="idCardS" type="file" accept="image/*" required>
                                                            
                                                            <img src="" alt="No Image" id="idCardS">

                                                            <p><input type="submit" value="Cập nhật" style="margin-top: 1rem;"></p>
                                                        </div>
                                                    </form>
                                                </div>
                                                
                                            {{/if}}
                                        </div>

                                            {{#if isAdmin}}
                                                <button class="btn" type="submit" data-toggle="modal" data-target="#xacMinhModal" style="background-color: #1b9600;">Xác Minh</button>
                                                <button class="btn" type="submit" data-toggle="modal" data-target="#voHieuHoaModal" style="background-color: #ff0000;">Vô hiệu hóa</button>
                                                <button class="btn" type="submit" data-toggle="modal" data-target="#boSungModal" style="background-color: #ffee00;">Bổ sung CMND</button>
                                                {{#if isInfinitelyLocked}}
                                                    <button class="btn" type="submit" data-toggle="modal" data-target="#moKhoaModal" style="background-color: #1b9600;">Mở khóa</button>
                                                {{/if}}
                                            {{/if}}

                                            <br>
                                            <br>
                                            <br>                            
                                            <br>
                                            <br>
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                          
                            <div class="product-content-right">
                
                                
                                <h2 class="text text-center">Lịch Sử Giao Dịch</h2>
                                <div class="woocommerce">


                                <table cellspacing="0" class="shop_table cart">
                                    <thead>
                                        <tr>
                             
                                            <th class="product-thumbnail">&nbsp;</th>
                                            <th class="product-name">Mã giao dịch</th>
                                            <th class="product-name">Loại dịch vụ</th>

                                            <th class="product-price">Ngày</th>
                                            <th class="product-quantity">Số tiền Giao Dịch</th>
                                            <th class="product-subtotal">Chi tiết</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each histories}}
                                        <tr class="cart_item">
                                            <td class="product-thumbnail">
                                              <img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" src="/{{this.anh}}">
                                            </td>

                                            <td class="product-name">
                                                    {{this.maGiaoDich}}
                                            </td>

                                            <td class="product-name">
                                                    {{this.loaiGiaoDich}}
                                            </td>

                                            <td class="product-price">
                                                <span class="amount">{{this.ngay}}</span> 
                                            </td>

                                            <td class="product-quantity">
                                                {{changeMoney tongTien}}
                                            </td>

                                            <td class="product-subtotal">
                                               <a href="/detailsTransactionHistory/{{this.maGiaoDich}}"> <button>Chi tiết</button></a>
                                            </td>
                                        </tr>
                                        {{/each}}
                  
                         
                                     
                                    </tbody>
                                </table>
        
                                  
                                </div>                        
                            </div>                    
                      
                        </div>
                        
                        
                        
                       
                    </div>                    
                </div>
            </div>
        </div>
    </div>

    {{!-- Modal list --}}
    <!-- Modal xác minh -->
    <div id="xacMinhModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Bạn có muốn kích hoạt tài khoản này?</h4>
                </div>
                <div class="modal-footer">
                    <button onclick="verifyAccount(this)" type="button" class="btn btn-success" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal hủy -->
    <div id="voHieuHoaModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Bạn có muốn vô hiệu hóa tài khoản này?</h4>
                </div>
                <div class="modal-footer">
                    <button onclick="disableAccount()" type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal bổ sung -->
    <div id="boSungModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Bạn có muốn yêu cầu cập nhật CMND cho tài khoản này?</h4>
                </div>
                <div class="modal-footer">
                    <button onclick="requestCMNDUpdate()" type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal mở khóa -->
    <div id="moKhoaModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Bạn có muốn mở khóa tài khoản này?</h4>
                </div>
                <div class="modal-footer">
                    <button onclick="unlockAccount()" type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <input hidden type="text" id="currentUsername" value="{{account.username}}">


    <!-- Latest jQuery form server -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    
    <!-- Bootstrap JS form CDN -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    <!-- jQuery sticky menu -->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    
    <!-- jQuery easing -->
    <script src="js/jquery.easing.1.3.min.js"></script>
    
    <!-- Main Script -->
    <script src="/js/main.js"></script>
  </body>


</html>